.aboutus_shipreturn_mobile{
  font-size: 14px;
}

.aboutus_shipreturn_mobile_table {
  margin-top: 20px;
}

.aboutus_shipreturn_mobile_table_row {
  height: 56px;
}

.aboutus_shipreturn_mobile_table_row_item {
  /* line-height: px; */
  vertical-align: middle;
  text-align: center;
  width: 50%;
  border: 1px solid #000000;
  height: 56px;
  line-height: 17px;
  display: flex;
  justify-content: center;
  align-items: center;
  direction: rtl;
  font-size: 14px;
}

.aboutus_shipreturn_mobile_table_row_item.shipreturn_bold {
  font-weight: 700;
}