.image-options {
    background: #FFFFFF;
    box-shadow: 0px 0px 15px 10px rgba(204, 204, 204, 0.5);
    border-radius: 8px;
    bottom: 10px;
    position: absolute;
    transition: all .3s ease-in-out;
    /* max-width: calc(100% - 20px); */
    /* left: 10px; */
    width: 94.66%;
    padding: 0 10px;
}

.image-options__item {
    padding: 20px 45px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 18px;
    font-size: 14px;
    font-weight: 600;
    width: 100%;
    background-color: transparent;
    border: none;
    outline: none!important;
    border-bottom: 1px solid #F8F8F8;
}
.image-options__item:last-child {
    border-bottom: none;
}
.image-options__item img {
    height: 26px;
}