.footer-logo {
    display: none;
}

.footer-row {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.footer-column {
    order: 1;
}

@media screen and (max-width: 992px) {
    .footer-row {
        grid-template-columns: 1fr 1fr;
        gap: 30px 0;
    }

    .footer-row .footer-column:last-child {
        grid-column-start: 2;
    }
}
@media screen and (max-width: 767px) {
    .footer-logo {
        display: block;
        padding: 20px 0;
        text-align: center;
        border-bottom: 1px solid #C2C2C2;
    }
    .footer-row {
        grid-template-columns: 1fr;
        gap: 15px;
        grid-auto-flow: dense;
    }
    .footer-row .footer-column:nth-child(2) {
        display: none;
    }
    .footer-row .footer-column:last-child {
        grid-column-start: 1;
    }
    .footer-row .footer-column:nth-child(3) {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }
    .mobile-stick-bottom svg {
        margin-left: 8px;
    }
    .mobile-stick-bottom {
        padding: 15px;
        filter: drop-shadow(0px 4px 10px rgba(0, 0, 0, 0.15));
    }
    .mobile-stick-bottom a {
        width: 100%;
        filter: drop-shadow(0px 3px 4px rgba(255, 31, 132, 0.2));
    }
}

